<div class=container> 
  <h1>Simon Dwyer</h1>
  <p>I have a job</p>
  <p> In incididunt ut et ex magna irure sint consequat ad. Do occaecat do commodo Lorem consequat ad nisi ex eiusmod deserunt minim duis quis. Quis occaecat nisi commodo esse veniam voluptate quis officia Lorem laboris Lorem. Ea sit adipisicing ut sit ipsum magna excepteur officia elit incididunt tempor culpa officia. Dolor pariatur aliqua sunt tempor consequat Lorem quis incididunt.</p>
    
  <br />
    
  <a href="http://facebook.com" target="_blank">
  <%= image_tag("fb.png") %> </a>
  <a href="http://github.com" target="_blank">
  <%= image_tag("github.png") %> </a>
  <a href="http://codepen.com" target="_blank">
  <%= image_tag("codepen.png") %> </a>
</div>